<div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2>Manage <b><%= entity_label %></b></h2>
        </div>
        <div class="col-sm-6">
            <div>
                <% if entity_label == "Stores" %>
                    <%= link_to new_store_path, class:"btn btn-success" do %>
                        <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg> %>
                        <span>Add New <%= button_label %></span>
                    <% end %>
                <% elsif entity_label == "Products" %>
                    <%= link_to new_product_path, class:"btn btn-success" do %>
                        <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg> %>
                        <span>Add New <%= button_label %></span>
                    <% end %>
                <% elsif entity_label == "Categories" %>
                    <%= link_to new_category_path, class:"btn btn-success" do %>
                        <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg> %>
                        <span>Add New <%= button_label %></span>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>